{
  "presets": ["env", "react", "stage-0"],
  "env": {
    "test": {
      "presets": ["es2015", ["env"],  "react", "stage-0"],
      "plugins": [
        "dynamic-import-node"
      ]
    }
  },
  "plugins": [
    ["transform-imports", {
      "tocco-util": {
        "transform": "tocco-util/src/${member}", // eslint-disable-line no-template-curly-in-string
        "preventFullImport": true
      },
      "tocco-test-util": {
        "transform": "tocco-test-util/src/${member}", // eslint-disable-line no-template-curly-in-string
        "preventFullImport": true
      },
      "redux-form": {
        "transform": "redux-form/es/${member}", // eslint-disable-line no-template-curly-in-string
        "preventFullImport": true
      }
    }]
  ]
}
