{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false,
    "__BACKEND_URL__" : false,
    "__PACKAGE__" : false
  },
  "rules": {
    "semi" : [2, "never"],
    "max-len": [2, 120, 2],
    "arrow-parens": [
      2,
      "as-needed"
    ],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "space-before-function-paren": [2, "never"],
    "operator-linebreak": [2, "before"],

    "generator-star-spacing": 0,
    "babel/generator-star-spacing": [2, "after"],

    "react/jsx-space-before-closing": [2, "never"],
    "jsx-quotes": [2, "prefer-double"],
    "react/jsx-no-bind": [2, { "allowArrowFunctions": true, "allowBind": true }]

  }
}
