{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "plugin:react/recommended"
  ],
  "plugins": [
    "babel",
    "react",
    "promise",
    "import",
    "chai-friendly",
    "import",
    "monorepo",
    "jest"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env"     : {
    "browser" : true,
    "jest/globals": true
  },
  "globals" : {
    "__CI__"      : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__STANDALONE__": false,
    "__BACKEND_URL__" : false,
    "__PACKAGE__": false,
    "__PACKAGE_NAME__": false,
    "__webpack_public_path__": true,
    "__NO_MOCK__": false,
    "test": false,
    "it": false,
    "expect": false,
    "describe": false,
    "sinon": false,
    "beforeAll": false,
    "beforeEach": false,
    "afterAll": false,
    "afterEach": false
  },
  "rules": {
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true, "mode": "strict" }],
    "semi" : [2, "never"],
    "max-len": [2, 120, 2],
    "arrow-parens": [2, "as-needed"],
    "quote-props": ["error", "consistent-as-needed"],
    "standard/object-curly-even-spacing": ["error", "never"],
    "object-curly-spacing": ["error", "never"],
    "no-var": "error",
    "prefer-const": "error",
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "space-before-function-paren": [2, "never"],
    "operator-linebreak": [2, "before"],
    "generator-star-spacing": [2, {"before": false, "after": true}],
    "no-console": 2,

    "react/jsx-no-bind": [2, { "allowArrowFunctions": true, "allowBind": true }],
    "react/display-name": 0,
    "jsx-quotes": [2, "prefer-double"],

    "no-unused-expressions": 0, // "no-unused-expressions" is included with "chai-friendly/no-unused-expressions"
    "chai-friendly/no-unused-expressions": [2, {"allowTaggedTemplates": true}],

    "import/default": 2,
    "import/no-duplicates": 2,
    "import/order": ["error", {"groups": ["builtin", "external", ["sibling", "parent", "index"]], "newlines-between": "always"}],
    "import/first": 2,
    "import/no-webpack-loader-syntax": 0,
    "monorepo/no-internal-import": 0, // TODO: set to 2 and fix errros
    "monorepo/no-relative-import": 2
  }
}
