image: node:14.15.4-alpine

variables:
  CYPRESS_INSTALL_BINARY: "0"

stages:
  - chore
  - setup
  - quality
  - build
  - pullrequest
  - release
  - onschedule

yarn_setup:
  stage: setup
  needs: []
  only:
    - external_pull_requests
    - master
  cache:
    key:
      files:
        - yarn.lock
        - packages/*/yarn.lock
    paths:
      - node_modules/
      - packages/*/node_modules/
  artifacts:
    paths:
    - node_modules/
    - packages/*/node_modules/
  script:
    - yarn setup:ci
  interruptible: true

linting:
  stage: quality
  dependencies:
    - yarn_setup
  only:
    - external_pull_requests
    - master
  script:
    - yarn lint

test:
  stage: quality
  dependencies:
    - yarn_setup
  only:
    - external_pull_requests
    - master
  script:
    - yarn test --ci --forceExit --runInBand --detectOpenHandles
  after_script:
    - yarn codecov
  interruptible: true

storybook:
  stage: quality
  dependencies:
    - yarn_setup
  only:
    - external_pull_requests
    - master
  before_script:
    - apk update && apk add bash && apk add openssh-client && apk add git
  script:
    - BACKEND=https://master.tocco.ch yarn build-storybook
    - scripts/deploy_storybook_gitlab.sh

storybook-link:
  stage: pullrequest
  dependencies: []
  needs:
    - storybook
  cache: {}
  before_script:
    - apk update && apk add bash && apk add curl && apk add jq
  only:
    - external_pull_requests
  script:
    - scripts/storybook_link_gitlab.sh

cherrypick:
  stage: release
  dependencies: []
  only:
    - /^nice-releases\/[0-9]+$/
  before_script:
    - apk update && apk add bash && apk add curl && apk add git && apk add openssh && apk add jq && apk add ncurses
  variables:
    TERM: "xterm-256color"
  script:
    - ./scripts/cherrypick.sh

cypress:
  stage: onschedule
  dependencies:
    - yarn_setup
  image: cypress/base:10
  variables:
    CYPRESS_INSTALL_BINARY: "6.4.0"
  only:
    - schedules
  script:
    - npm rebuild cypress
    - yarn cypress:master:record --parallel

tagging:
  stage: chore
  only:
    - master
    - /^nice-releases\/[0-9]+$/
  before_script:
    - apk update && apk add bash && apk add curl && apk add git && apk add openssh-client
  script:
    - ./scripts/tagging.sh
