.check-if-partial-is-included {content: 'tocco-ui/src/LoadMask/LoadMask.scss'}  // TODO remove before going live

.load-mask {
  > .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  .glyphicon-spin {
      -webkit-animation: spin 1000ms infinite linear;
      animation: spin 1000ms infinite linear;
  }
  @-webkit-keyframes spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }
  @keyframes spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }
}
