.load-mask {
  .loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .7;
  }

  .loader-icon {
    border: 1rem solid $gray-lighter;
    border-radius: 50%;
    border-top: 1rem solid $brand-primary;
    width: 3.2rem;
    height: 3.2rem;
    animation: spin 2000ms linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.6rem;
    margin-top: -1.6rem;
  }

  .loader-text {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 1.6rem;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
