.load-mask {
  .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .7;
    top: 30%;
  }

  .loader-icon {
    border: 1rem solid $gray-lighter;
    border-radius: 50%;
    border-top: 1rem solid $brand-primary;
    width: 3.2rem;
    height: 3.2rem;
    animation: spin 2000ms linear infinite;
  }

  .loader-text {
    margin-top: .6rem;
    text-align: center;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

