.tocco-table {
  table {
    width: 100%;
  }

  table thead,
  table tbody {
    display: table;
    width: 100%;
  }

  table.loading tbody {
    position: relative;
  }

  table.loading tbody:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(256, 256, 256, 0.5);
    background-size: 50px 50px;
    content: "";
  }
}
