.form-field {
  .error-list {
    color: #8b0000;
    font-size: smaller;
    margin-bottom: 0;
  }

  .mandatory {
    color: #5bc0de;
  }

  .dirty-label {
    font-weight: bold;
    color: #8a6d3b;
  }
}
