.layout-box.horizontal {
  display: flex;
  flex-wrap: wrap;

  /* stylelint-disable */
  > * {
  /* stylelint-enable */
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin: .5rem;
  }

  /* stylelint-disable */
  @media ( max-width: 768px ) {
    > * {
    /* stylelint-enable */
      flex-basis: 100%;
    }
  }
}

.layout-box.vertical {
  label {
    /* stylelint-disable */
    text-align: left !important;
    /* stylelint-enable */
  }
}
