.merge-wizard {
  .close-button {
    width: 10.71rem;
    margin-top: .57rem;
    margin-bottom: .57rem;
    float: right;
    margin-right: .71rem;
  }

  .merge-response {
    padding: 0 .71rem .71rem;
  }

  .disabled {
    color: #808080;
  }

  .w20 {
    width: 1.42rem;
  }

  .p-l-5 {
    padding-left: .35rem;
  }

  .bold {
    font-weight: bold;
  }
}
