.tocco-editable-value {
  .date-edit{
    input[ readonly ]{
      background-color: #fff;
    }

    input {
      z-index: 0;
    }

    &.disabled {
      input {
        background-color: #eee;
      }
    }
  }
}
