$textarea-max-height: 25rem;

.tocco-editable-value {
  .date-edit{
    input[ readonly ]{
      background-color: #fff;
    }

    input {
      z-index: 0;
    }

    &.disabled {
      input {
        background-color: #eee;
      }
    }
  }

  textarea {
    resize: vertical;  // react-textarea-autosize consumes resize property
    max-height: $textarea-max-height;  // react-textarea-autosize respects max-height property
  }
}
