$textarea-max-height: 25rem;

.tocco-editable-value {
  //date
  .date-edit {
    input[ readonly ] {
      background-color: #fff;
    }

    input {
      z-index: 0;
    }

    &.disabled {
      input {
        background-color: #eee;
        cursor: not-allowed;
      }
    }
  }

  //textarea
  textarea {
    resize: vertical; // react-textarea-autosize consumes resize property
    max-height: $textarea-max-height; // react-textarea-autosize respects max-height property
  }

  //html edit
  .quill {
    .ql-toolbar {
      border-top-left-radius: .27rem;
      border-top-right-radius: .27rem;
    }

    .ql-container {
      border-bottom-left-radius: .27rem;
      border-bottom-right-radius: .27rem;
      background-color: #fff;
    }

    .ql-container.ql-disabled {
      border-top-left-radius: .27rem;
      border-top-right-radius: .27rem;
      background-color: #eee;

      .ql-editor {
        cursor: not-allowed;
      }
    }
  }

  //selects
  .Select.is-disabled {
    .Select-control {
      background-color: #eee;
      cursor: not-allowed;
    }
  }
}

&.tether-select {
  z-index: 100000001;

  &.tether-target-attached-top {
    margin-top: -35px; // magic-number representing the height of the input-field

    .Select-menu-outer {
      border-radius: 4px 4px 0 0;
    }
  }
}
