$tocco-red: #87081e;

body {
  height: 100%;
  background-color: #fff;
  position: relative;
}

h1 {
  font-size: initial;
}

.show-case-app {
  margin: 0;
}

.title {
  color: #fff;
  font-size: 2.71rem;
  padding-top: .71rem;
  padding-left: .71rem;
  background-color: $tocco-red;
  height: 5.71rem;
}

.navi-affix.affix {
  top: 0;
}

.navigation {
  margin-top: 1.42rem;

  a {
    color: #000;
    text-decoration: none;
    padding-left: .71rem;
    padding-bottom: .14rem;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  ul li {
    font-weight: 500;
    padding-left: .35rem;
  }

  ul > li > ul > li {
    font-weight: normal;
  }

  > ul > li.current-nav > a {
    border-left: .14rem solid $tocco-red;
    color: $tocco-red;
  }

  ul > li.current-nav > ul > li.current-nav {
    a {
      color: $tocco-red;
    }
    border-left: .14rem solid $tocco-red;
  }
}

.show-case {
  margin-left: .71rem;
}

.required-prop {
  color: #ffa500;
}

.locale-switcher{
  .flag{
    margin-left: .14rem;
    width: 1.42rem;
    opacity: .4;
    cursor: pointer;

    &.active {
      opacity: 1;
    }
  }
}
