.tocco-pagination {
  display: inline-block;
  margin-bottom: $line-height-computed;

  .btn {
    margin-bottom: 0;
  }

  .btn:not( :first-child ),
  .tocco-pagination-current-page,
  .tocco-pagination-total-pages {
    margin-left: $tocco-pagination-dividing-space;
  }

  .tocco-pagination-current-page + .tocco-pagination-total-pages:before {
    padding-right: $tocco-pagination-dividing-space;
    content: $tocco-pagination-delimiter;
  }

  input[ type = number ] {
    // Bootstrap class .form-control is required
    vertical-align: bottom; // align input field with buttons
    display: inline-block;  // instead of floating all elements
    // browser determines height from line-height and font-size
    // to respect rounding behaviour of buttons, some browser truncates floating numbers (floor)
    height: auto;
    width: auto;  // reset .form-control
    box-shadow: none;  // reset .form-control
  }
}
