.tocco-pagination {
  display: inline-block;
  margin-bottom: $line-height-computed;

  .btn {
    /* stylelint-disable */
    margin-top: -1px;  // for correct alignment with input.tocco-pagination-current-page
    /* stylelint-enable */
    margin-bottom: 0;
  }

  .btn:not( :first-child ),
  .tocco-pagination-current-page,
  .tocco-pagination-total-pages {
    margin-left: $tocco-pagination-dividing-space;
  }

  .tocco-pagination-current-page + .tocco-pagination-total-pages:before {
    padding-right: $tocco-pagination-dividing-space;
    content: $tocco-pagination-delimiter;
  }

  input[ type = number ] {
    box-sizing: content-box;
    display: inline-block;
    // same height for button and input, -2 for border but -3 is needed in webkit and blink
    height: $input-height-base - ( $padding-base-vertical * 2 ) - 3;
    box-shadow: none;

    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      /* stylelint-disable */
      -webkit-appearance: none;
      /* stylelint-enable */
    }
  }
}
