.PasswordUpdateDialog {
  .fat {
    font-weight: 700;
  }
  .oldPassword {
    margin-bottom: 1.5em;
  }

  .ValidationRules {
    margin-bottom: 1.5em;
  }

  .PasswordMatchDisplay {
    margin-bottom: 1.5em;
  }

  .FailureMessage {
    margin-top: 1em;
  }

  button.update-pending {
    i.glyphicon {
      animation: spin 2s infinite linear;
    }

    i.glyphicon:before {
      content: "\e031"
    }
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
}

.PasswordUpdateDialog.load-mask {
  position: relative;
  min-height: 100px;
}


