.password-update-dialog {
  .form-group {
    max-width: 35.71rem;
  }

  .font-bold {
    font-weight: 700;
  }

  .oldPassword {
    margin-bottom: 1.5rem;
  }

  .ValidationRules {
    margin-bottom: 1.5rem;
  }

  .PasswordMatchDisplay {
    margin-bottom: 1.5rem;
  }

  .FailureMessage {
    margin-top: 1rem;
  }

  button.update-pending {
    i.glyphicon {
      animation: spin 2000ms infinite linear;
    }

    i.glyphicon:before {
      content: '\e031';
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(359deg);
    }
  }
}

.PasswordUpdateDialog.load-mask {
  position: relative;
  min-height: 7.14rem;
}
