.tocco-login {
  .input-group {
    max-width: 500px;
  }

  .negative {
    color: darkred;
  }

  .message-box {
    min-height: 25px;
    font-weight: bold;
    padding: 5px 0 0 5px;
  }

  button {
    min-width: 100px;
  }

  button.update-pending {
    i.glyphicon {
      animation: spin 2s infinite linear;
    }

    i.glyphicon:before {
      content: "\e031"
    }
  }

  .m-t-5 {
    margin-top: 5px;
  }

  .m-l-5 {
    margin-left: 5px;
  }

  .p-l-5 {
    padding-left: 5px;
  }

  .pointer {
    cursor: pointer;
  }

}

