.tocco-upload {
  @include clearfix();

  .actions {
    position: absolute;
    opacity: 0;
    transition: 500ms;
  }

  :hover > .actions {
    opacity: 1;
    transition: 1000ms;
  }

  .dragzone {
    border: dashed .1rem #c1c1c1;
    border-radius: .27rem;
    padding: .35rem;
    cursor: pointer;
    color: $gray-light;

    i {
      padding-right: .27rem;
    }

    &.disabled {
      cursor: no-drop;
      text-decoration: line-through;
    }
  }

  .transparent {
    opacity: .5;
  }

  .thumbnail {
    max-width: 6rem;
  }

  .description {
    float: left;
  }

  .loadingOverlay {
    clear: left;
  }
}
