.detail-view {
  .error-list {
    color: #8b0000;
    font-size: smaller;
    margin-bottom: 0;
  }

  .mandatory {
    color: blue;
  }

  .dirty-label {
    font-weight: bold;
    color: orange;
  }
}
