.detail-view {
  .error-list {
    color: darkred;
    font-size: smaller;
    margin-bottom: 0px;
  }

  .mandatory {
    color: blue;
  }

  .dirty-label {
    font-weight: bold;
    color: orange;
  }
}
