/* Convenience classes
 * Convenience classes can be very useful for prototyping but needs more time for maintenance compared to semantic staling.
 * If convenience classes are in use style changes requires changes in HTML and CSS which is not wanted in a productive environment.
*/

.space-rhythm-base {
  margin-bottom: $line-height-computed;
}

.space-rhythm-double {
  margin-bottom: $line-height-computed-double;
}
