.entity-browser {
  .list-view {
    .refresh-button {
      margin-left: 1.42rem;
    }
  }
}

.list-view-navigation {
  @include clearfix();

  .tocco-pagination {
    float: left;
    margin-right: $tocco-pagination-dividing-space;
  }
}
