.merge-matrix-selected-col {
 background-color: AliceBlue ;
}

.merge-matrix-th-selected{
  .targetIcon {
    color: LightCoral;
  }
}

.merge-matrix-th{
  cursor: pointer;
  .targetIcon{
    color: lightgrey;
  }
}

.merge-icon-spacer {
  width: 20px;
  float:left
}
