.wizard {
  height: 100%;

  &-body {
    padding: 10px;
    height: calc(100% - 50px);
    overflow-y: auto;
  }

  &-footer{
    height: 50px;
  }

  &-back-button{
    width: 150px;
    margin-top: 8px;
    margin-left: 10px;
  }

  &-next-button{
    width: 150px;
    margin-top: 8px;
    float: right;
    margin-right: 10px;
  }
}








