.fc{
  h2{
    margin: 0;
  }

  .remove-resource-btn{
    margin: 0;
    border: none;
    outline: none;
    background: transparent;
    padding-right: 2px;
  }

  .fc-event{
    border: none;
    border-radius: 2px;
    font-weight: 600;
    background-color: #1287de;
    color: #fff;

    .fc-bg{
      opacity: 0;
    }
  }

  .fc-event.conflict {
    border: 3px solid #8b0000;
    border-radius: 3px;
  }

  .fc-timeline-event .fc-content{
    text-overflow: ellipsis;
  }
}
